#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Rust's aws-lc-sys CMake builder writes to $HOME/.cargo; point it at a
# writable path inside the build tree instead.
export CARGO_HOME = $(CURDIR)/debian/.cargo

%:
	dh $@

override_dh_auto_configure:
	cmake -B debian/build-qt -G Ninja \
	      -DCMAKE_BUILD_TYPE=Release \
	      -DCMAKE_INSTALL_PREFIX=/usr \
	      -DTESSERACT_UI=qt6
	cmake -B debian/build-gtk -G Ninja \
	      -DCMAKE_BUILD_TYPE=Release \
	      -DCMAKE_INSTALL_PREFIX=/usr \
	      -DTESSERACT_UI=gtk
	cp debian/build-qt/packaging/debian/changelog debian/changelog

override_dh_auto_build:
	cmake --build debian/build-qt
	cmake --build debian/build-gtk

override_dh_auto_test:
	ctest --test-dir debian/build-qt --output-on-failure

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tesseract-matrix     cmake --install debian/build-qt
	DESTDIR=$(CURDIR)/debian/tesseract-matrix-gtk cmake --install debian/build-gtk

override_dh_auto_clean:
	rm -rf debian/build-qt debian/build-gtk debian/.cargo
