[Desktop Entry]
Version=1.0
Type=Application
Name=Tesseract
Comment=Matrix chat client
Exec=tesseract %U
Icon=tesseract
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/matrix;
StartupNotify=true
StartupWMClass=tesseract
